.snackbar {
  background-color: var(--primary);
  @apply font-body z-10 text-white;

  & .snackbar__action {
    @apply text-white font-bold;
  }
}

.g-table table {

  &.table {
    @apply rounded overflow-hidden border-none;
  }

  th {
    @apply bg-gray-700 text-gray-100;
  }

  td, th {
    @apply border-0;
  }

  tbody tr:nth-child(odd) {
    @apply bg-gray-200
  }
}

.g-input {
  @apply rounded px-2 py-1 border-2 border-gray-400;

  &__error {
    @apply border-red-500;
  }
}

.select {
  @apply w-full;

  select {
    @apply w-full border-2 border-gray-400;
  }
}

.input {
  @apply border-2 border-gray-400;
}