<template>
  <div id="app">
    <Header />
    <transition name="fade" mode="out-in" appear>
      <router-view class="px-4"/>
    </transition>
  </div>
</template>

<script>

import Header from '@/components/Header'

export default {
  name: 'App',
  components: { Header },
}
</script>