<template>
  <button 
    :class="classes" 
    v-text="text"
  />
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: {
      required: true,
      type: String
    }
  },
  computed: {
    classes() {
      return 'px-4 py-2 rounded border-2 font-medium border-blue-500 font-display transition-all duration-500 ease-in-out hover:shadow-lg'
    }
  },
}
</script>