<template>
  <div class="bg-red-100 p-4 rounded border border-red-600">
    <ul class="list-disc pl-4">
      <li class="py-2 text-red-600" v-for="error in errors" :key="error.id" v-text="error"/>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Errors',
  props: {
    errors: {
      required: true,
      type: Array
    }
  }
}
</script>