<template>
  <h1 class="text-3xl font-display font-medium text-gray-900" v-text="text"/>
</template>

<script>
export default {
  name: 'Title',
  props: {
    text: {
      required: true,
      type: String
    }
  }
}
</script>