<template>
  <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.12 17.91L0 9.80002L8.12 1.68002L10.28 3.84002L4.33 9.80002L10.28 15.75L8.12 17.91Z" fill="white"/>
    <path d="M23.88 17.91L21.72 15.75L27.67 9.80002L21.72 3.84002L23.88 1.68002L32 9.80002L23.88 17.91Z" fill="white"/>
    <path d="M16.3923 -0.00545104L12.6132 18.9926L15.6145 19.5897L19.3936 0.591555L16.3923 -0.00545104Z" fill="white"/>
  </svg>
</template>