<template>
  <div class="container py-8 flex items-center flex-col">
    <b-loading :active.sync="loading"/>
    <Title text="Editar Desenvolvedor"/>
    <Errors class="mt-8" :errors="errorsArray" v-if="errorsArray.length"/>
    <form class="pt-8 max-w-xl w-full" @submit.prevent="onSubmit">
      <div class="flex flex-col mb-8">
        <label class="flex flex-col">
          <span class="pb-2">Nome</span>
          <input 
            class="g-input"
            :class="{ 'g-input__error': $v.form.name.$error }"
            type="text"
            v-model="$v.form.name.$model"
            required
          />
        </label>
        <div v-if="$v.form.name.$error">
          <div 
            class="px-4 py-2 bg-red-200 text-red-600 rounded text-sm mt-2"
            v-if="!$v.form.name.required"
            v-text="validationsMessages.form.name.required"
          />
        </div>
      </div>
      <div class="flex mb-8">
        <label class="flex flex-col w-full">
          <span class="pb-2">Sexo</span>
          <b-select v-model="form.gender">
            <option 
              v-for="gender in genderOptions"
              :key="gender.id"
              :value="gender.value"
              v-text="gender.label"
            />
          </b-select>
        </label>
      </div>
      <div class="flex mb-8">
        <label class="flex flex-col w-full">
          <span class="pb-2">Data de Nascimento</span>
          <b-datepicker
            v-model="form.birthdate"
            :month-names="monthNames"
            :day-names="dayNames"
            :years-range="[-150, 0]"
          />
        </label>
      </div>
      <div class="flex flex-col mb-8">
        <label class="flex flex-col">
          <span class="pb-2">Hobby</span>
          <input 
            class="g-input"
            :class="{ 'g-input__error': $v.form.hobby.$error }"
            type="text"
            v-model="$v.form.hobby.$model"
            required
          />
        </label>
        <div v-if="$v.form.hobby.$error">
          <div 
            class="px-4 py-2 bg-red-200 text-red-600 rounded text-sm mt-2"
            v-if="!$v.form.hobby.required"
            v-text="validationsMessages.form.hobby.required"
          />
        </div>
      </div>
      <div class="flex justify-between">
        <router-link :to="{ name: 'developers.index' }">
          <G-Button class="text-blue-500" text="Voltar" />
        </router-link>
        <G-Button class="bg-blue-500 text-gray-100" text="Enviar" type="submit"/>
      </div>
    </form>
  </div>
</template>

<script>

import Title from '@/components/shared/Title'
import GButton from '@/components/shared/Button'
import { required } from 'vuelidate/lib/validators'
import { monthNames, dayNames } from '@/services/utils'
import moment from 'moment'
import api from '@/services/http/api'
import Errors from '@/components/shared/Errors'

export default {
  name: 'DevelopersEdit',
  components: { Title, GButton, Errors },
  data() {
    return {
      dayNames,
      monthNames,
      genderOptions: [
        {
          label: 'Masculino',
          value: 'm'
        },
        {
          label: 'Feminino',
          value: 'f'
        },
      ],
      loading: false,
      form: {
        name: '',
        gender: 'm',
        hobby: '',
        birthdate: new Date(moment().subtract(1, 'year')),
      },
      validationsMessages: {
        form: {
          name: { 
            required: 'Insira o campo nome'
          },
          hobby: { 
            required: 'Insira o campo hobby'
          },
        }
      },
      validationErrors: []
    }
  },
  validations: {
    form: {
      name: { required },
      hobby: { required },
    }
  },
  computed: {
    errorsArray() {
      const errors = Object.values(this.validationErrors)
      return errors.flat()
    }
  },
  methods: {
    onSubmit() {
      if(this.$v.$invalid) return this.$snack.error('Preencha corretamente o formulário')
      const birthdate = moment(this.form.birthdate).format('YYYY-MM-DD')
      const age = moment().diff(birthdate, 'years')
      if(age <= 0 || age >= 150) return this.$snack.error('Insira uma idade válida')
      this.loading = true
      const form = {
        ...this.form,
        birthdate,
        age
      }
      api
        .put(`developers/${this.$route.params.developerId}`, form)
        .then(() => {
          this.$router.push({ name: 'developers.index' })
          this.$snack.success('Desenvolvedor editado com sucesso')
        })
        .catch(err => {
          if(err.response.status === 422) {
            this.validationErrors = err.response.data.errors
            return this.$snack.error('Ocorreu um erro, preencha corretamente o formulário')
          }
          this.$snack.error('Ocorreu um erro, tente novamente mais tarde')
        })
        .finally(() => this.loading = false)
    },
    fetchDeveloper() {
      this.loading = true
      api
        .get(`developers/${this.$route.params.developerId}`)
        .then(res => {
          const form = res.data.data
          this.form = {
            name: form.name,
            gender: form.gender,
            hobby: form.hobby,
            birthdate: new Date(moment(form.birthdate))
          }
        })
        .catch(() => {
          this.$snack.error('Desenvolvedor não encontrado')
          this.$router.push({ name: 'developers.index' })
        })
        .finally(() => this.loading = false)
    }
  },
  mounted() {
    this.fetchDeveloper()
  }
}
</script>