<template>
  <div class="container py-8">
    <div class="flex justify-between">
      <Title text="Desenvolvedores"/>
      <router-link :to="{ name: 'developers.create' }">
        <G-Button 
          class="bg-blue-500 text-green-100" 
          text="Adicionar Desenvolvedor"
        />
      </router-link>
    </div>
    <b-loading :active.sync="loading" />
    <div class="flex flex-col pt-8">
      <div class="flex justify-between items-end">
        <label class="flex flex-col items-start">
          <span class="pb-2">Filtro</span>
          <input 
            class="g-input"
            type="text"
            v-model="filter"
            placeholder="Digite o nome do desenvolvedor"
            v-debounce="fetchDevelopers"
          />
        </label>
        <label class="flex flex-col items-start">
          <span class="pb-2">Qtd</span>
          <b-select v-model="perPage" @input="fetchDevelopers">
            <option 
              v-for="perPage in perPageOptions"
              :key="perPage.id"
              :value="perPage.value"
              v-text="perPage.label"
            />
          </b-select>
        </label>
      </div>
      <b-table 
        class="g-table pt-8" 
        :data="developers" 
        paginated 
        backend-pagination
        @page-change="onPageChange"
        :per-page="perPage"
        :total="total"
      >
        <template slot-scope="props">
          <b-table-column field="id" label="ID" numeric v-text="props.row.id"/>
          <b-table-column field="name" label="Nome" v-text="props.row.name"/>
          <b-table-column field="gender" label="Sexo">
            {{props.row.gender | gender}}
          </b-table-column>
          <b-table-column field="age" label="Idade" v-text="props.row.age"/>
          <b-table-column field="actions" label="Ações">
            <div class="flex">
              <router-link 
                class="py-1 px-2 bg-blue-500 rounded text-xs text-gray-100 font-bold mr-4 hover:text-gray-100" 
                title="Visualizar"
                :to="{ name: 'developers.view', params: { developerId: props.row.id } }"
              >
                Visualizar
              </router-link>
              <router-link 
                class="py-1 px-2 border border-blue-500 rounded text-xs text-blue-500 font-bold mr-4" 
                title="Editar"
                :to="{ name: 'developers.edit', params: { developerId: props.row.id } }"
              >
                Editar
              </router-link>
              <a 
                class="py-1 px-2 border border-red-500 rounded text-xs text-red-500 font-bold mr-4"
                title="Excluire"
                href="#"
                @click.prevent="handleRemove(props.row.id)"
              >
                Excluir
              </a>
            </div>
          </b-table-column>
        </template>
        <template slot="empty">
          <div class="w-full flex flex-col justify-center items-center py-16">
            <svg class="fill-current w-32 text-blue-600" viewBox="0 0 60 48" xmlns="http://www.w3.org/2000/svg">
              <path d="M51.5859 4.02897C51.2529 3.55397 50.6889 3.33997 50.1369 3.42197C50.1159 3.41697 50.0949 3.40797 50.0739 3.40497L27.4689 0.0869666C27.2219 0.0499666 26.9699 0.0769668 26.7349 0.162967L8.62992 6.79897C8.62192 6.80197 8.61492 6.80697 8.60692 6.80997C8.58792 6.81797 8.56992 6.82997 8.54992 6.83697C8.45092 6.88097 8.35892 6.93297 8.27392 6.99397C8.24792 7.01297 8.22292 7.03197 8.19692 7.05297C8.10392 7.12897 8.01892 7.21197 7.94792 7.30697C7.94392 7.31297 7.93792 7.31597 7.93392 7.32197L0.288918 17.78C-0.00408188 18.181 -0.0800819 18.703 0.0869181 19.171C0.253918 19.64 0.642918 19.994 1.12492 20.118L7.75892 21.831V38.232C7.75892 38.891 8.18992 39.474 8.82092 39.667L33.1109 47.089C33.1189 47.093 33.1279 47.09 33.1359 47.094C33.2659 47.13 33.4019 47.153 33.5379 47.154C33.5409 47.154 33.5449 47.156 33.5489 47.156H33.5499C33.6929 47.156 33.8329 47.13 33.9729 47.089C34.0169 47.075 34.0579 47.056 34.1029 47.037C34.1619 47.015 34.2199 46.999 34.2779 46.969L51.7079 37.296C52.1849 37.031 52.4799 36.529 52.4799 35.984V19.586L58.3759 16.756C58.7729 16.566 59.0659 16.209 59.1779 15.783C59.2889 15.356 59.2079 14.903 58.9549 14.542L51.5859 4.02897ZM27.4099 3.11097L45.0539 5.70097L33.3499 11.143L14.8159 7.72797L27.4099 3.11097ZM9.80092 9.85397L31.0379 13.768L24.7959 23.132L4.01592 17.767L9.80092 9.85397ZM10.7589 37.122V22.605L25.0769 26.302C25.2019 26.333 25.3269 26.35 25.4519 26.35C25.9449 26.35 26.4169 26.106 26.6999 25.682L32.0489 17.659V43.627L10.7589 37.122ZM49.4789 35.1L35.0479 43.107V19.414L37.6829 25.013C37.8539 25.374 38.1619 25.654 38.5369 25.786C38.6999 25.846 38.8699 25.873 39.0389 25.873C39.2619 25.873 39.4829 25.823 39.6879 25.727L49.4769 21.029L49.4789 35.1ZM39.7549 22.368L35.5479 13.43L49.8499 6.77997L55.4839 14.817L39.7549 22.368Z" />
            </svg>
            <span class="text-2xl font-display pt-4 text-blue-600 font-medium">Nenhum desenvolvedor encontrado</span>
          </div>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>

import Title from '@/components/shared/Title'
import GButton from '@/components/shared/Button'
import api from '@/services/http/api'

export default {
  name: 'DevelopersIndex',
  components: { Title, GButton, },
  data() {
    return {
      developers: [],
      loading: false,
      page: 1,
      total: 0,
      perPage: 5,
      filter: '',
      perPageOptions: [
        {
          label: '5',
          value: 5
        },
        {
          label: '10',
          value: 10
        },
        {
          label: '15',
          value: 15
        },
      ]
    }
  },
  methods: {
    fetchDevelopers() {
      this.loading = true
      api
        .get('developers', {
          params: {
            page: this.page,
            per_page: this.perPage,
            search: this.filter
          }
        })
        .then(res =>{
          this.developers = res.data.data
          this.total = res.data.meta.total
        })
        .catch(() => this.$snack.error('Ocorreu um erro, tente mais tarde'))
        .finally(() => this.loading = false)
    },
    handleRemove(id) {
      this.$buefy.dialog.confirm({
        message: 'Deseja realmente excluir o desenvolvedor?',
        confirmText: 'Excluir',
        cancelText: 'Cancelar',
        type: 'is-danger',
        onConfirm: () => this.removeDeveloper(id)
      })
    },
    removeDeveloper(id) {
      this.loading = true
      api
        .delete(`developers/${id}`)
        .then(() => {
          this.fetchDevelopers()
          this.$snack.success('Desenvolvedor removido com sucesso')
        })
        .catch(() => this.$snack.error('Não foi possivel remover o desenvolvedor'))
    },
    onPageChange(page) {
      this.page = page
      this.fetchDevelopers()
    }
  },
  mounted() {
    this.fetchDevelopers()
  }
}
</script>