<template>
  <div class="container py-8 flex items-center flex-col">
    <b-loading :active.sync="loading"/>
    <Title :text="`Dev. ${developer.name}`"/>
    <div class="w-full max-w-2xl flex flex-col pt-8">
      <div class="flex pb-8 justify-between">
        <div class="flex flex-col">
          <h3 class="text-xl text-blue-500 font-medium pb-2">ID</h3>
          <span v-text="developer.id"/>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl text-blue-500 font-medium pb-2">Nome</h3>
          <span v-text="developer.name"/>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl text-blue-500 font-medium pb-2">Sexo</h3>
          <span>{{ developer.gender | gender }}</span>
        </div>
      </div>
      <div class="flex pb-8 justify-between">
        <div class="flex flex-col">
          <h3 class="text-xl text-blue-500 font-medium pb-2">Idade</h3>
          <span v-text="developer.age"/>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl text-blue-500 font-medium pb-2">Data de Nascimento</h3>
          <span>{{developer.birthdate | date}}</span>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl text-blue-500 font-medium pb-2">Hobby</h3>
          <span v-text="developer.hobby"/>
        </div>
      </div>
      <router-link :to="{ name: 'developers.index' }">
        <G-Button class="text-blue-500" text="Voltar"/>
      </router-link>
    </div>
  </div>
</template>

<script>

import Title from '@/components/shared/Title'
import GButton from '@/components/shared/Button'
import api from '@/services/http/api'

export default {
  name: 'DevelopersView',
  components: { Title, GButton },
  data() {
    return {
      loading: false,
      developer: {}
    }
  },
  methods: {
    fetchDeveloper() {
      this.loading = true
      api
        .get(`developers/${this.$route.params.developerId}`)
        .then(res => this.developer = res.data.data)
        .catch(() => {
          this.$snack.error('Desenvolvedor não encontrado')
          this.$router.push({ name: 'developers.index' })
        })
        .finally(() => this.loading = false)
    }
  },
  mounted() {
    this.fetchDeveloper()
  }
}
</script>