<template>
  <header class="w-full bg-blue-500">
    <div class="container py-4 flex justify-center px-4">
      <router-link class="flex items-center" :to="{ name: 'developers.index'}">
        <Logo />
        <h2 class="pl-4 text-lg font-display text-gray-100">
          <span class="font-bold">G</span>Devs
        </h2>
      </router-link>
    </div>
  </header>
</template>

<script>

import Logo from '@/assets/svgs/Logo'

export default {
  name: 'Header',
  components: { Logo }
}
</script>